.venv/
__pycache__/
*.py[cod]
.pytest_cache/
.env
.DS_Store
runs/**
!runs/.gitkeep
datasets/
*.pt
*.onnx

# Directory tree of the repo
# Usage:
#   tree -L 3 -I "node_modules|venv|datasets|runs" > tree.txt
tree.txt

# Repo changes to generate commit messages
# Usage:
#   git diff > diff.diff
*.diff

# Commit message
# Usage:
#   git commit -F commit.txt
commit.txt